<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>welcome</param-value>
  </context-param>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/fcs</param-value>
  </context-param>
  <servlet>
  	<servlet-name>RegisterStudent2</servlet-name>
  	<display-name>RegisterStudent2</display-name>
  	<description></description>
  	<servlet-class>RegisterStudent2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentServlet</servlet-name>
  	<display-name>StudentServlet</display-name>
  	<description></description>
  	<servlet-class>StudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterInstitute</servlet-name>
  	<display-name>RegisterInstitute</display-name>
  	<description></description>
  	<servlet-class>RegisterInstitute</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminSelectInstituteServlet</servlet-name>
  	<display-name>AdminSelectInstituteServlet</display-name>
  	<description></description>
  	<servlet-class>com.traininginstitute.instituteservlets.AdminSelectInstituteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminSelectStudentServlet</servlet-name>
  	<display-name>AdminSelectStudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.traininginstitute.AdminSelectStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDeleteInstituteServlet</servlet-name>
  	<display-name>AdminDeleteInstituteServlet</display-name>
  	<description></description>
  	<servlet-class>AdminDeleteInstituteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminFeedbackServlet</servlet-name>
  	<display-name>AdminFeedbackServlet</display-name>
  	<description></description>
  	<servlet-class>AdminFeedbackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InstituteLoginServlet</servlet-name>
  	<display-name>InstituteLoginServlet</display-name>
  	<description></description>
  	<servlet-class>InstituteLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InstituteViewStudent</servlet-name>
  	<display-name>InstituteViewStudent</display-name>
  	<description></description>
  	<servlet-class>InstituteViewStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InstViewInstDetails</servlet-name>
  	<display-name>InstViewInstDetails</display-name>
  	<description></description>
  	<servlet-class>InstViewInstDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateInstitute</servlet-name>
  	<display-name>UpdateInstitute</display-name>
  	<description></description>
  	<servlet-class>UpdateInstitute</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewFacultyServlet</servlet-name>
  	<display-name>ViewFacultyServlet</display-name>
  	<description></description>
  	<servlet-class>ViewFacultyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertfacultyPageServlet</servlet-name>
  	<display-name>InsertfacultyPageServlet</display-name>
  	<description></description>
  	<servlet-class>InsertfacultyPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<display-name>StudentLoginServlet</display-name>
  	<description></description>
  	<servlet-class>StudentLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentViewInstituteServlet</servlet-name>
  	<display-name>StudentViewInstituteServlet</display-name>
  	<description></description>
  	<servlet-class>StudentViewInstituteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentViewProfileServlet</servlet-name>
  	<display-name>StudentViewProfileServlet</display-name>
  	<description></description>
  	<servlet-class>StudentViewProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentUpdateHomePageServlet</servlet-name>
  	<display-name>StudentUpdateHomePageServlet</display-name>
  	<description></description>
  	<servlet-class>StudentUpdateHomePageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentSendRequestServlet</servlet-name>
  	<display-name>StudentSendRequestServlet</display-name>
  	<description></description>
  	<servlet-class>StudentSendRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Feedback</servlet-name>
  	<display-name>Feedback</display-name>
  	<description></description>
  	<servlet-class>Feedback</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InstituteFeedback</servlet-name>
  	<display-name>InstituteFeedback</display-name>
  	<description></description>
  	<servlet-class>InstituteFeedback</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Sample</servlet-name>
  	<display-name>Sample</display-name>
  	<description></description>
  	<servlet-class>Sample</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InstituteViewRequest</servlet-name>
  	<display-name>InstituteViewRequest</display-name>
  	<description></description>
  	<servlet-class>InstituteViewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterStudent2</servlet-name>
  	<url-pattern>/RegisterStudent2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterInstitute</servlet-name>
  	<url-pattern>/RegisterInstitute</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSelectInstituteServlet</servlet-name>
  	<url-pattern>/AdminSelectInstituteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSelectStudentServlet</servlet-name>
  	<url-pattern>/AdminSelectStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDeleteInstituteServlet</servlet-name>
  	<url-pattern>/AdminDeleteInstituteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminFeedbackServlet</servlet-name>
  	<url-pattern>/AdminFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InstituteLoginServlet</servlet-name>
  	<url-pattern>/InstituteLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InstituteViewStudent</servlet-name>
  	<url-pattern>/InstituteViewStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InstViewInstDetails</servlet-name>
  	<url-pattern>/InstViewInstDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateInstitute</servlet-name>
  	<url-pattern>/UpdateInstitute</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewFacultyServlet</servlet-name>
  	<url-pattern>/ViewFacultyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertfacultyPageServlet</servlet-name>
  	<url-pattern>/InsertfacultyPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentViewInstituteServlet</servlet-name>
  	<url-pattern>/StudentViewInstituteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentViewProfileServlet</servlet-name>
  	<url-pattern>/StudentViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentUpdateHomePageServlet</servlet-name>
  	<url-pattern>/StudentUpdateHomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentSendRequestServlet</servlet-name>
  	<url-pattern>/StudentSendRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Feedback</servlet-name>
  	<url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InstituteFeedback</servlet-name>
  	<url-pattern>/InstituteFeedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Sample</servlet-name>
  	<url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InstituteViewRequest</servlet-name>
  	<url-pattern>/InstituteViewRequest</url-pattern>
  </servlet-mapping>
</web-app>
